{% extends "account/dashboard.html" %}

{% block content %}
  <div class="container-flex">
    <div class="card o-hidden border-0 shadow-lg my-2">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-3 d-none d-lg-block bg-profile-image"></div>
          <div class="col-lg-9">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Your username: {{ user }}</h1>
              </div>
              <form method="post">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <table>
                        {{ user_form.as_table }}
                        {{ profile_form.as_table }}
                        {% csrf_token %}
                        </table>
                    </div>
                </div>
                  <hr>
                  <input class="btn btn-primary btn-user" type="submit" value="Save changes">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}