{% extends "account/dashboard.html" %}

{% block content %}
<div class="container-flex">
  <div class="card o-hidden border-0 shadow-lg my-2">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Please set dates field</h1>
          </div>
          <form method="post">
            {{ date_form.as_p }}
            {% csrf_token %}
            <input class="btn btn-primary btn-user btn-block" type="submit" value="Save changes">
          </form>
          <hr>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Stock Name</th>
              <th scope="col">Last date</th>
            </tr>
            </thead>
            {% for item in stock_price %}
            <tbody>
            <td>{{ item.stock }}</td>
            <td>{{ item.date }}</td>
            </tbody>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
