{% extends "account/dashboard.html" %}

{% block content %}
<div class="container-flex">
  <div class="card o-hidden border-0 shadow-lg my-2">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Please set dates field</h1>
          </div>
          <form method="post">
            <table>
              {{ date_form.as_table }}
              {% csrf_token %}
            </table>
            <br>
            <input class="btn btn-primary btn-user btn-block" type="submit" value="Save changes">
          </form>
          <hr>
          <form method="post">
            <table>
            {{ filter_form.as_table }}
            {% csrf_token %}
            </table>
            <br>
            <input class="btn btn-primary btn-user btn-block" type="submit" value="Filter by date">
          </form>
                {{ df2 | safe }}
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
