{% extends 'account/dashboard.html' %}
{% block title %}Stock data update{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Import/Export Trades</h6>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'trades' %}" class="mb-2">
            {% csrf_token %}
            <input type="file" class="bg-light small mr-4 mb-4" name="importData">
            <button class="btn btn-primary mb-1" type="submit">Import</button>
            <a href="{% url 'export_data' %}" class="btn btn-primary mb-1 ml-2">Export</a>
        </form>
    </div>
</div>
{% endblock %}
